.layout {
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-color: var(--ivory);
}

.layout-header {
    background-color: var(--oxford-blue);
    color: white;
    padding: 20px;
    text-align: center;
}

.layout-content {
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

.layout-footer {
    background-color: var(--bice-blue);
    padding: 10px;
}

.progress-bar {
    background-color: #e0e0e0;
    height: 8px;
    border-radius: 4px;
    overflow: hidden;
}

.progress {
    background-color: var(--sandy-brown);
    height: 100%;
    transition: width 0.3s ease;
}
